[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
build = "*"
pytest = "~=4.6.0"
math-randomseed = {file = ".", editable = true}

[dev-packages]
pytest = "~=4.6.0"

[requires]
python_version = ">=3.8,<4.0"
